@model onlinefood.Models.UserSignup
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Edit</title>
</head>
<body>
    <style type="text/css">
        body {
            background-color: aliceblue;
        }
    </style>

    @*<script src="~/Scripts/jquery-1.7.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend style="font-family:Arial Black;color:Green">UserSignup</legend>
            @Html.HiddenFor(model => model.UserId)
            <div class="editor-label" style="font-family:Arial Black">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="editor-field" style="color:Red;font-family:Arial">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="editor-label" style="font-family:Arial Black">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field" style="color:Red;font-family:Arial">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="editor-label" style="font-family:Arial Black">
                @Html.LabelFor(model => model.DateofBirth)
            </div>
            <div class="editor-field" style="color:Red;font-family:Arial">
                @Html.EditorFor(model => model.DateofBirth)
                @Html.ValidationMessageFor(model => model.DateofBirth)
            </div>
            <div class="editor-label" style="font-family:Arial Black">
                @Html.LabelFor(model => model.Gender)
            </div>
            <div class="editor-field" style="color:Red;font-family:Arial">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
            <div class="editor-label" style="font-family:Arial Black">
                @Html.LabelFor(model => model.PhoneNumber)
            </div>
            <div class="editor-field" style="color:Red;font-family:Arial">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
            <div class="editor-label" style="font-family:Arial Black">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field" style="color:Red;font-family:Arial">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="editor-label" style="font-family:Arial Black">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field" style="color:Red;font-family:Arial">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
            <p>
                <input type="submit" value="Save" style="color:Navy;font-family:Arial; font-size:large" />
            </p>
        </fieldset>
    }
    <div style="color:Blue;font-family:Arial">
        @Html.ActionLink("Back to User Records", "ShowUserDetails")
    </div>
</body>
</html>
